@font-face {
    font-family: myCustom;
    src: url("IndieFlower.ttf");
}

* {
    margin: 0;
}

body {
    max-width: 1200px;
    font-size: 0.875em;
    line-height: 1.6em;
    background-color: #fff;
    background-image: url("pattern-backgr.jpg");
    background-size: cover;
    background-repeat: repeat;
    color: #333;
    font-family: Tahoma;
    margin: 40px;
}

header {
    background-image: url("plant.jpg");
    background-position: center center;
    background-size: cover;
    height: 350px;
}

header h1 {
    padding-top: 100px;
    padding-left: 10px;
    text-align: left;
    font-family: myCustom;
}

header h2 {
    padding-top: 10px; 
    padding-left: 10px;
    text-align: left;
    font-family: myCustom;
}

h3 {
    text-align: center;
    color:#37563d;
    padding-top: 10px;
}

.summary {
    text-align: center;
    font-style: italic
    
}

.preamble {
   
}
.main supporting {
    
}

.design-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eae8e6;
}

.zen-resources, .design-archives {
margin-top: 10px;
justify-content: flex-start;
background-color: #eae8e6;
display: flex;
align-items: flex-end;
background-image: url(plants.jpg);
}

footer {
    margin-bottom: 10px;
    text-align: center;
}